
<!-- About Section -->
<div class="container-fluid" id="about">
		<div class="row">
				<div class="col-lg-8 mx-auto">
						<h2 class="text-white mb-4">Find Music Near You</h2>
						<p class="text-white-50">Welcome to Ticsound where you can find all the hottest music events. You can also post your own event. Everything we do helps people discover, book and share what Singapore has to offer. From our powerful content and top-quality curation of music to the imagination of our live events – no one knows the city like us.</p>
				</div>
		</div>
      </div>