
<h2><%= @user.username %></h2>

<h2>Events</h2>
<% @sortevents.each do|event| %>
<table>
	<tr>
		<td><strong><%= event.name %></strong></td>
		<td><%= event.venue %></td>
		<td><%= event.address %></td>
	</tr>
<%end%>

<script type="text/javascript">
	window.onload = getLocation();
</script>

