

<div class = "allcontain">
    <div class = "allHeadEvent">
        <h1>All Events</h1>
    </div>

    <div class="card-columns">
    <% @events.each do |event| %>
    <div class="card">
        <img class="card-img-top" src="<%= event.image %>" alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title"><%= event.name %></h4>
        <h5 class="card-title"><%= event.venue %></h5>
        <p class="card-text"></p>
        <p class="card-text"><%= event.starttime%></p>
        </div>
    </div>
    <%end%>
</div>


















