.headEvent{
    text-align:center;
    padding:2vh;
}

h5.card-title-my{
    text-align:center;
    height:3vh;
    padding-bottom:5vh;
}

.allHeadEvent{
    text-align:center;
    color:white;
}

.mycontain{
    margin-left:7vw;
    margin-right:7vw;
}

.allcontain{
    margin-top:5vh;
    background-color:#343A40;
    
}

.fas.fa-heart{
    color:red;
    float:right;
    
}

