
.allHeadEvent{
    text-align:center;
    color:white;
}

.jumbotron.jumbotron-fluid{
    padding-top:2ch;
    text-align:center;
    color:white;
    margin:0;
    background-image: url("/mainheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.allcontain{
    background-color:#343A40;
}

.fas.fa-heart{
    color:red;
    float:right;
}

.far.fa-heart{
    color:red;
    float:right;
}

.todayEvent{
    text-align:center;
}

.pickcontain{
    font-style:white;
    background-image:url('/mainheader.jpg');
    background-size:cover;
    text-align:center;
    padding-top:5vh;
    padding-bottom:7vh;
    
}

.datepicker{
    text-align:center;
    width:35vw;
}



@media only screen and (min-width: 600px) {
    .carousel-inner {height: 36vh;}
    .carousel-caption {position: absolute; top: 0px}
    .input-group {width: 550px;}
}

