footer {
		background: #343A40;
		padding: 15px;
		color: white;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
}

body {
		margin-bottom: 54px;
}

.carousel-inner img {
		width: 100%;
		height: 100%;
}

.bg-black text-center h-100 project {
	background: black;
}